<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MstdnCUILike.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MstdnCUILike.Properties.Settings>
            <setting name="BackColorSetting" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FontColorSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="AppID" serializeAs="String">
                <value>fd58cde8f8a1475df78b07f990b875f909f149a972f49f602a8700a428a96753</value>
            </setting>
            <setting name="AppSecret" serializeAs="String">
                <value>b6d1887e13b20a83b600affd4c508512effc5cc571149138e9552c287b6c1ebe</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPass" serializeAs="String">
                <value />
            </setting>
            <setting name="HostName" serializeAs="String">
                <value />
            </setting>
            <setting name="NameList" serializeAs="String">
                <value>a_nick_w;retia_jp</value>
            </setting>
            <setting name="NameColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="MaxLine" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="BaseWord" serializeAs="String">
                <value>マック</value>
            </setting>
            <setting name="TootWord" serializeAs="String">
                <value>マークードー</value>
            </setting>
            <setting name="SelfColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="Bounds" serializeAs="String">
                <value>100, 100, 400, 600</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SpliterDistance" serializeAs="String">
                <value>480</value>
            </setting>
        </MstdnCUILike.Properties.Settings>
    </userSettings>
</configuration>